html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem auto;
}

.hover-preview-container {
  position: absolute;
}

.hover-preview-image {
  height: 300px;
  z-index: 1;
}

.site-footer {
  background-color: blueviolet;
  color: white;
  height: 300px;
}