* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 1rem auto;
}

.avatar {
  height: 100%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
}

.circle-avatar-container {
  border: solid 3px black;
  border-radius: 50%;
  height: 10rem;
  overflow: hidden;
  position: relative;
  width: 10rem;
}

.curve-view-color-container,
.table-view-color-container {
  border: solid 1px black;
}

.curve-view-type-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.hover-preview-container {
  position: absolute;
}

.hover-preview-image {
  height: 300px;
  z-index: 1;
}

.site-footer {
  background-color: blueviolet;
  color: white;
  height: 300px;
}

.table-view-main-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}